<div class="showcase">
  <h1 class="title is-1 has-text-white">Tomato</h1>
  <h2 class="title is-3 has-text-white">Discover the best food & drinks</h2>
</div>
<main class="container">
  <section>
    <span class="title is-3">Collections</span>
    <p>
      Explore curated lists of top restaurants, cafes, pubs, and bars in Delhi
      NCR, based on trends
    </p>
    <div class="is-flex">
      <div class="card my-2 mr-2">
        <div class="card-image">
          <figure class="image is-autox320">
            <img
              src="https://b.zmtcdn.com/data/collections/e1d5e8f900dbca01d11f353ef4b6a97c_1581661395.jpg"
              alt="Placeholder image"
            />
          </figure>
        </div>
        <div class="collection-metadata">
          <p class="has-text-white has-text-weight-semibold">
            Trending This Week
          </p>
          <p class="has-text-white has-text-weight-semibold">10 Places</p>
        </div>
      </div>
      <div class="card m-2">
        <div class="card-image">
          <figure class="image is-autox320">
            <img
              src="https://b.zmtcdn.com/data/collections/e1d5e8f900dbca01d11f353ef4b6a97c_1581661395.jpg"
              alt="Placeholder image"
            />
          </figure>
        </div>
      </div>
      <div class="card m-2">
        <div class="card-image">
          <figure class="image is-autox320">
            <img
              src="https://b.zmtcdn.com/data/collections/e1d5e8f900dbca01d11f353ef4b6a97c_1581661395.jpg"
              alt="Placeholder image"
            />
          </figure>
        </div>
      </div>
      <div class="card m-2">
        <div class="card-image">
          <figure class="image is-autox320">
            <img
              src="https://b.zmtcdn.com/data/collections/e1d5e8f900dbca01d11f353ef4b6a97c_1581661395.jpg"
              alt="Placeholder image"
            />
          </figure>
        </div>
      </div>
    </div>
    <!-- <app-collection-item></app-collection-item> -->
  </section>
</main>
